$primary-color: #EFE9E9;

* {
    box-sizing: border-box;
}

body {
    background: $primary-color;
    color: #885D5D;
    height: 100%;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1;
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    
    &.heading1 {
        font-size: 80px;
        font-weight: 1000;
        margin: 0px;
        padding-left: 100px;
        color: #000;
    }

    &.heading2 {
        margin: 0px;
        font-size: 50px;
        padding-left: 150px;
        font-weight: 600;
    }

    &.heading3 {
        margin: 0px;
        font-size: 30px;
        padding-left: 150px;
        font-weight: 100;
    }
}

