$primary-color: #EFE9E9;

* {
    box-sizing: border-box;
}

@mixin easeOut {
    transition: all 1s ease-out;
}

body {
    background: $primary-color;
    color: #885D5D;
    height: 100%;
    margin: 0rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1;
}

h1, h2, h3 {
    margin: 0rem;
    padding: 0rem;
    
    &.heading1 {
        font-size: 5rem;
        font-weight: 1000;
        padding-left: 6rem;
        color: #000;
    }

    &.heading2 {
        font-size: 3rem;
        padding-left: 8rem;
        font-weight: 600;
        line-height: 5rem;
        margin-bottom: 3rem;
    }

    &.heading3 {
        color: #C19191;
        font-size: 2rem;
        padding-left: 6rem;
        font-weight: 100;
    }
}

a {
    color: #000;
    text-decoration: none;
}

header {
    color:#000;
    z-index: 100;
    position: fixed;
    width: 100%;
}

main {
    padding: 4rem;
    height: 100%;

    .icons {
        margin-top: 5rem;
        margin-left: 6rem;

        a {
            padding: 0.5rem;
            
            &:hover {
                color: #885D5D;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h3 {
            margin-top: 15vh;
        }
    }
}


